{% extends "layout.html" %}
{% block body %}
<h2>Enter room:</h2>
<div class="well">
    <form action="/rooms/enter" method="post">
        <input class="form-control" type="text" name="user_name" placeholder="Your name..."/>
        <input class="form-control" type="text" name="room_name" placeholder="Room name..."/>
        <button class="btn btn-primary" type="submit">Enter</button>
    </form>
</div>

<h2>Room stages:</h2>
{% for room in rooms %}
<a href="/rooms/{{ room.id }}/stage">{{ room.name }}</a> |
{% endfor %}

<h2>Create room:</h2>
<form action="/rooms/create" method="post">
    <input class="form-control" type="text" name="room_name" placeholder="Room name..."/>
    <button class="btn btn-primary" type="submit">Enter</button>
</form>
{% endblock %}