{% extends "layout.html" %}
{% block body %}
  <h2>{{ room.name }}<small> - {{ user.name }}</small> <a href="/rooms/{{ room.id }}/stage" class="btn btn-default">Go to staging</a></h2>
    <hr>
  <button class="col-sm-2 poker-card  btn btn-primary btn-lg vote" data-value="0">0</button>
  <button class="col-sm-2 poker-card  btn btn-primary btn-lg vote" data-value="1">1</button>
  <button class="col-sm-2 poker-card  btn btn-primary btn-lg vote" data-value="2">2</button>
  <button class="col-sm-2 poker-card  btn btn-primary btn-lg vote" data-value="3">3</button>
  <button class="col-sm-2 poker-card  btn btn-primary btn-lg vote" data-value="5">5</button>
  <button class="col-sm-2 poker-card  btn btn-primary btn-lg vote" data-value="8">8</button>
  <button class="col-sm-2 poker-card  btn btn-primary btn-lg vote" data-value="13">13</button>
  <button class="col-sm-2 poker-card  btn btn-primary btn-lg vote" data-value="20">20</button>
  <button class="col-sm-2 poker-card  btn btn-primary btn-lg vote" data-value="40">40</button>
  <button class="col-sm-2 poker-card  btn btn-primary btn-lg vote" data-value="100">100</button>
<hr>

<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    
    socket.on('connect', function() {
        socket.emit('join', {room_id: {{ room.id }} });
    });

    $('.vote').on('click', function() {
      socket.emit('vote', {room_id: {{ room.id }}, vote_value: $(this).data('value')});
    })
</script>
{% endblock %}
