{% extends "layout.html" %}
{% block body %}
<style>
    .curtain {
      position: absolute;
      bottom: 0;
      background-color: #ddd;
      top: 110px;
      width: 100%;
      left: 0;
      right: 0;
    }

</style>
<h1>{{ room.name }}
    <small><a href="/rooms/{{room.id}}">go to room</a></small>
</h1>
<button id="reveal" class="btn btn-primary">Reveal</button>
<button id="new-session" class="btn btn-success" {% if room.current_session %}style="display:none;" {% endif %}>New
    Session
</button>
<div id="curtain" class="{% if room.current_session %}curtain{% endif %}">
    <div id="current-votes-wrapper" style="text-align: center; font-size: 2em;">
        <span id="current-votes">{% if room.current_session %}{{ room.current_session.votes.all()|length }}{% else %}0{%endif %}</span> votes
    </div>
</div>
<hr>
<div id="votes">
    {% if room.current_session %}
    {% for vote in room.current_session.votes %}
    <div class="well" id="votes-{{ vote.user.id }}">
        <h3>{{ vote.user.name }} - {{ vote.value }}</h3>
    </div>
    {% endfor %}
    {% elif room.previous_session %}
    {% for vote in room.previous_session.votes %}
    <div class="well" id="votes-{{ vote.user.id }}">
        <h3>{{ vote.user.name }} - {{ vote.value }}</h3>
    </div>
    {% endfor %}
    {% endif %}
</div>
<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function() {
      socket.emit('join', {room_id: {{ room.id }}});
    });

    socket.on('vote', function(message) {
        var currentVotes = parseInt($('#current-votes').html());
        var elementTemplate = '<h3>' + message['user_name'] + ' - ' + message['vote_value'] + '</h3>';
        var listTemplate = '<div class="well" id="votes-' + message['user_id'] + '">' + elementTemplate + '</div>';
        var existingListElement = $('#votes-' + message['user_id']);
        if (existingListElement.length) {
            existingListElement.html(elementTemplate);
        } else {
            $('#votes').append(listTemplate);
            currentVotes += 1;
            $('#current-votes').html(currentVotes);
        }
    });

    $('#reveal').on('click', function() {
      $('#curtain').toggleClass("curtain");
      socket.emit('reveal', {room_id: {{ room.id }}});
      $('#new-session').show();
    });

    $('#new-session').on('click', function() {
      $('#votes').html("");
      $('#current-votes').html(0);
      $('#curtain').addClass("curtain");
      socket.emit('new_session', {room_id: {{ room.id }}})
      $(this).hide();
    });

</script>
{% endblock %}
